/* keeping the center layout from home */
.vertical-center {
    min-width: 50vh;  /* Fallback for browsers do NOT support vh unit */
    min-height: 20vh; /* These two lines are counted as one :-)       */
    margin: 0;
    display: flex;
    justify-content: center;
    
  }
  /* fix form format */
  form{
      margin: 0 auto;
      display: flex;
      max-width: 50vh;
      flex-direction: column;
      justify-content: center;
  }