
body{
    
    height: 100vh;

}
.dark-button{
    align-self: baseline;
    border: none;
    background: none;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    padding: 10px;

    
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    justify-content: center;
    align-items: center;
  }
.links{
    
    text-decoration: none;
    
}
