
.App {
  /*border: black 1px solid;*/
  text-align: center;
  background-color: white;
  max-height: 100vh;
  display:grid;
  align-items: center;
  gap:10%;

  
}
li{
  text-decoration: none;
  list-style: none;
}
li a{
  text-decoration: none;
}

